/build
**/build/
.hvigor/
.cxx/
oh_modules/
node_modules/
*.hap
*.har
*.hsp
.idea/
local.properties
# Large local artifacts
backup/
dist/**/*.tar
dist/**/*.tar.gz
dist/**/*.zip
scripts/*.tar.gz
scripts/*.zip
*.tar
*.tar.gz
*.zip
